* {
    box-sizing: border-box;
}
.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
    background-image: url("../images/background2.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* color: yellow; */
    
}

#wrapper {
    width: 450px;
    height: 1025px;
    margin: 50px auto 0;
    background: beige;
    

}
h1 {
    font-family: cursive;
    font-style: italic;
    font-size: 45px;
    text-align: center;
    padding: 30px;
    
}

h2 {
    font-size: 24px
}
p {
    margin: 15px;
    margin-left: 50px;
    padding: 5px;
     
    /* add text spacing  */

}
#rulles {
    width: 400px;

}
.crystal {
    width: 100px;
    height: 100px;
    margin-left: 9px;
}

#wins   {
    width: 300px;
    height: 75px;
    font-size: 24px;
    margin-left: 75px;
    background: olive;
    text-align: center;
    padding-top: 25px;
    
}
#losses {
    width: 300px;
    height: 75px;
    background: gold;
    text-align: center;
    padding-top: 25px;    
    font-size: 24px;
    margin-left: 75px;
    margin-top: 20px
    
}
#target-number {
    width: 300px;
    height: 100px;
    margin-left: 75px;
    margin-top: 20px;
    font-size: 36px;
    margin-bottom: 25px;
    text-align: center;
    padding-top: 25px;
}
#user-number {
    width: 275px;
    height: 100px;
    margin-left: 90px;
    margin-top: 20px;
    font-size: 36px;
    margin-bottom: 25px;
    text-align: center;
    padding-top: 15px;
    

}